@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #36daef;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-image: url('https://images.wikidexcdn.net/mwuploads/esssbwiki/thumb/2/2c/latest/20180819065319/Estadio_Pok%C3%A9mon_2_SSBU.jpg/800px-Estadio_Pok%C3%A9mon_2_SSBU.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    overflow-y: auto;
}

#battle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 3px solid #333;
    border-radius: 10px;
    background-color: rgba(247, 247, 247, 0.8);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

#pokemon-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    gap: 200px;
}

#player img, #opponent img {
    width: 200px;
    height: auto;
}

#player, #opponent {
    text-align: center;
}

#actions {
    margin-top: 30px;
}

button {
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: #f0f0f0;
    color: #333;
}

button:hover {
    background-color: #ddd;
}

#log {
    margin-top: 30px;
    text-align: left;
}

#battle-log {
    white-space: pre-line;
}

.mensajeResultado {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 30px 60px;
    border-radius: 15px;
    font-size: 40px;
    font-family: 'Press Start 2P', sans-serif;
    display: none;
    opacity: 0;
    z-index: 1000;
    text-align: center;
    animation: aparecer 2s ease-in-out forwards;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
    50% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
